/* Add your CSS style definitions to this file */
body{
    margin-top: 0em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0em;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}
h1{
    font-family: 'Roboto Slab';
    font-size: 2rem;
    color: #9f2042;
    text-align: center;
}
blockquote{
    font-family: 'Roboto Slab';
    font-size: 1.25rem;
    background-color: #f9f9f9;
    outline-color: #ececec;
    outline-width: 2px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
article{
    background-color: white;
    margin: 8px, 10px, 0px, 10px;
}
#details{
    color: #ececec;
    text-align: center;
}
footer{
    background-color: #39293a;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2em;
}
footer p{
    color: white;
}
footer a{
    color: #9f2042;
    text-decoration: none;
}
img{
    width: 100%;
}
article p{
    margin-left: 2em;
    margin-right: 2em;
}
div a:link{
    border-radius: 4px;
    padding: 12px;
    color: #ec8295;
    border:1pt solid #ececec;
    border-radius: 5px;
    text-align: left;
    text-decoration:none;
    margin-bottom: 1.5em;
    
}
a:hover{
    background-color: #a9a9ba;
    color: #9f2042;
}
